.recipes-body {
  background-image: url(../img/background-image-3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  color: #955306;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  background-image: url(../img/background-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  color: #955306;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.changa-one-regular {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.changa-one-regular.heading {
  font-size: 75px;
}

.odin-recipes-heading-main {
  display: grid;
  /* place-items:center; */
  margin-top: 70px;
  grid-auto-flow:column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.chef-icon {
  display: inline-block;
  margin-left: 10px;
}

.rectangle-container-recipe {
  border: 7px solid #F8C463;
  /* outline: 2px solid #F8C463; */
  box-sizing: border-box;
  height: 530px;
  width: 350px;
  /* background-color: #FFFAF0; */
  display: inline;
  margin-right: 20px;
  border-radius: 5%;
  background-color: rgba(255, 250, 240, 0.93); 
}

.container-for-rectangles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-recipe-main-page {
  display: grid;
  place-items: center;
  margin: 18px auto;
}

.img-element-config {
  border-radius: 3%;
}

.recipe-link {
  color: #955306;
  margin-left: 10px;
  font-size: 21px;
  font-weight: bold;
}

.indiv-card-header {
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.heart-count {
  color: rgb(255, 91, 137);
  font-weight: bold;
  font-size: 18px;
  margin-left: 35px;
}

.heart-count.pork-margin {
  margin-left: 50px;
}

.heart-count.pancit-malabon-margin {
  margin-left: 25px;
}

.recipe-short-description {
  font-size: 15px;
  margin: 20px 10px;
}


/* heart  */
.heart-container {
  margin-right: 20px;
  --heart-color: rgb(255, 91, 137);
  position: relative;
  width: 50px;
  height: 50px;
  transition: .3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}

.changa-one-regular.recipe-heading {
  font-size: 70px;
  margin: 30px auto 10px auto;
}

.star-rating-container {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.star-rating-color {
  color: #FCAD38;
  height: 30px;
  width: auto;
}

.rating-points {
  margin-left: 15px;
  text-decoration: underline;
}

.rate-count {
 margin-left: 15px; 
 opacity: 70%;
}

.submission-container {
  display: block;
  margin-bottom: 10px;
}

.submission-container .update {
  opacity: 80%;
}

.recipe-description-container {
  width: 50%;
}

.heading-recipes-content {
  background-color: #D45060;
  width: 50%;
  padding: 10px;
  /* border: 2px solid black; */
  color: #FFF9F2;
}

h2 {
  margin: 0px;
  font-weight: 100;
}

.changa-one-regular-unbold {
  font-family: "Changa One", sans-serif;
  /* font-weight: 100; */
  font-style: normal;
}

.heading-recipes-content.procedure {
  background-color: #EB7F31;
}

.ingproc-container {
  background-color: #FFF9F2;
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
}

a {
  color: #457B9D;
}
